
@model IEnumerable<Student>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseApp</title>
    <link rel="stylesheet" href="/modules/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container m-4">
        <div class="card mx-auto" style="width:500px">
            <div class="card-header">
              Kursa Katılanlar
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>LastName</td>
                            <td>Email</td>
                            <td>Confirm</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.Name</td>
                                <td>@student.LastName</td>
                                <td>@student.Email</td>
                                <td>@student.Confirm</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

   




</body>
</html>