@model Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CourseApp</title>
    <link rel="stylesheet" href="/modules/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px">
            <div class="card-header">
                Merhaba @Model.Name, Nasılsın?
            </div>
            <div class="card-body">
                <hr />
                @if (Model.Confirm == true)
                {
                    <Span>Kursa Katıldığınızdan Dolayı Mutlu Olduk</Span>
                    <div> Diğer Katılımcıları <a asp-action="List"> Görüntüle </a></div>
                }
                else
                { <Span>Üzüldük</Span>}
            </div>

        </div>
    </div>

</body>
</html>

